---
layout: page
title: "Learn Android development"
footer: false
---

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Android topics</h3>
  </div>
  <div class="panel-body">
    <p class="text-center">
      <span class="learning-topic" data-votes-key="android-setup">Setup           </span>
      <span class="learning-topic" data-votes-key="android-graphics"><a href="{{ root_url }}/topics/android/graphics">Drawing graphics</a></span>
      <span class="learning-topic" data-votes-key="android-touch-events"><a href="{{ root_url }}/topics/android/touch-events">Touch events</a></span>
      <span class="learning-topic" data-votes-key="android-activities">Activities      </span>
      <span class="learning-topic" data-votes-key="android-services">Services        </span>
      <span class="learning-topic" data-votes-key="android-notifications">Notifications   </span>
      <span class="learning-topic" data-votes-key="android-widgets">Widgets         </span>
    </p>
  </div>
</div>

<div id="blog-archives">
{% for post in site.posts reversed %}
{% if post.categories contains "android" %}
<article>
  {% assign index = true %}
  {% assign content = post.content %}
  {% include article.html %}
</article>
{% endif %}
{% endfor %}
</div>
