---
layout: none
---
/*
Design by Alicia A Jasmine
http://www.100webhosting.com
Released for free under a Creative Commons Attribution 3.0 License
*/

body {
	font-family: 'Marcellus', serif;
}

strong, b {
  font-family: 'Overlock SC', Arial, Helvetica, sans-serif;
  color:#4b4b4b;
}

a strong, a b {
  color: #3467b4; /* should be darker */
}

body {
	margin: 10px 0;
	padding: 0;
	background: #EFEFEF !important;
	font-size: 16px;
	color: #6B6B6B;
}

body.maximized {
  margin: 0;
  padding: 10px;
  font-size: 18px;
}

aside.sidebar {
  display: none;
}

a {
	color: #3467b4;
}

a:hover {
	text-decoration: none;
}

/*a[href^="http://"] {
  background: url(../images/extlink.gif) center left no-repeat;
  padding-left: 16px;
}

a[href^="{{ site.url }}"] {
  background: none;
  padding-left: 0;
}
*/
img {
	border: none;
}

img.left { float: left; margin-right: 1.5em; }
img.right { float: right; margin-left: 1.5em; }

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: #000000;
}

h2 {
	margin-bottom: 10px;
	border-bottom: 1px solid #F4F4F4;
	font-size: 26px;
}

h3 {
	margin-bottom: 15px;
	padding-bottom: 5px;
	font-size: 16px;
	border-bottom: 1px solid #F4F4F4;
}

p, ol, ul, blockquote {
	line-height: 24px;
}

ul {
	margin-left: 0;
	padding-left: 2em;
	list-style: disc;
}

blockquote {
  margin: 1.2em;
  margin-left: 3em;
  font-style: italic;
  position: relative;
  font-size: 1.1em;
  line-height: 1.5em;
  padding-left: 2em;
  border-left: 4px solid #cfcfcf;
}
blockquote cite {
    font-style: italic;
}
blockquote cite a { color: #bfbfbf !important; word-wrap: break-word; }
blockquote cite:before { content: '\2014'; padding-right: .3em; padding-left: .3em;}

.image_row {
  width: 25%;
  border: 1px solid black;
  display: inline-block;
  vertical-align: middle;
  margin: 2%;
}

#header {
  width: 100%;
  height: 115px;
	background: url(../images/topmiddle.gif) repeat-x;
	position: relative;
}

#logo {
	float: left;
	height: 115px;
	padding: 0 0 0 0;
	background: url(../images/topleft.gif) no-repeat;
}

#logo * {
	text-decoration: none;
}

#logo h1 {
	float: left;
	padding: 40px 0 0 40px;
}

h1.title {
	font-size: 36px;
}

h1.title a {
	color: #000000;
	text-decoration: none;
}

h1.title span a {
	font-weight: bold;
	color: #33578d;
}

#logo h2 {
	float: left;
	padding: 72px 0 0 8px;
	font-size: 12px;
	border: none;
}

#logo h2 a {
	color: #B4B4B4;
}

#header .header-float {
  position: absolute;
  top: 30px;
  right: 20px;
}

/* Menu */

#topright {
	float: right;
	height: 45px;
	padding: 70px 22px 0 0;
	background: url(../images/topright.gif) no-repeat right top;
}

#menu {
  position: absolute;
  bottom: 0px;
  right: 20px;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a {
	padding: 0 15px 0 15px;
	border-left: 1px solid #DBDBDB;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 13px;
	color: #3B3B3B;
}

#menu a:hover {
	background: #4c6488;
	color: #ffffff;
	text-decoration: none;
}

#menu .first a {
	border: none;
}

.maximized #menu {
  position: relative;
  top: 0;
  left: 0;
}


#headershadow {
  margin: 0;
	background: url(../images/headershadow.gif) repeat-x left bottom;
	border-right: 20px solid #FFFFFF;
	border-left: 20px solid #FFFFFF;
}

#headershadow img {
  width: 100%;
}

/* Content */

#content {
  padding: 10px 35px 0 35px;
  background: #FFFFFF;
  border-radius: 0 0 20px 20px;
}

#sidebar {
  display:none;
	float: right;
	width: 185px;
	padding: 5px 0 0 0;
}

/* Footer */

#footer {
}

#footer p {
	text-align: center;
	color: #777777;
}

#footer a {
	color: #5D5D5D;
}


.btn.giant {
  width: 100%;
  height: 100px;
  line-height: 85px;
  font-size: 40px;
}

.btn.java {
  background-color: #5382A1;
}

.btn.android {
  background-color: #A4C639;
}

/* Video */
.vidwrap1 {
  width: 100%;
}
.vidwrap2 {
  height: 0;
  padding-bottom: 56%;
  position: relative;
}
.vidwrap2 .youtube {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.vidwrap2 iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* */

.learning-topic {
  margin-left: 20px;
  margin-right: 20px;
}