{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<body {% if page.body_id %} id="{{ page.body_id }}" {% endif %} {% if page.sidebar == false %} class="no-sidebar" {% endif %} {% if page.sidebar == 'collapse' or site.sidebar == 'collapse' %} class="collapse-sidebar sidebar-footer" {% endif %}>
  {% include custom/facebook_js.html %}
  
  <div id="header">
    <div id="logo">
      <h1 class="title"><span><a href="{{ root_url }}">Build Something Awesome</a></span></h1>
    </div>
    <div class="fb-like header-float" data-href="https://www.facebook.com/BuildSomethingAwesome" data-send="true" data-layout="button_count" data-width="300" data-show-faces="true"></div>
    <div id="topright">&nbsp;</div>
    <div id="menu">{% include navigation.html %}</div>
  </div>
  <div id="headershadow"><img src="{{ root_url }}{{ site.header_images[page.header_image].file }}" alt="" width="877" height="150" /></div>
  <div id="content">
    <div id="maincontent">
      {{ content | expand_urls: root_url }}
    </div>
    <div style="clear: both;">&nbsp;</div>
  </div>
  <div id="footer">
    {% include footer.html %}
  </div>
  {% include after_footer.html %}
</body>
</html>
