<div id="title">
  <div id="logo">
  		<h1 class="title"><span><a href="http://buildsomethingawesome.org">Build Something Awesome</a></span></h1>
  	</div>
  	<div class="fb-like header-float" data-href="https://www.facebook.com/BuildSomethingAwesome" data-send="true" data-layout="button_count" data-width="300" data-show-faces="true"></div>
  	<div id="topright">&nbsp;</div>
</div>

<!-- <hgroup>
  <h1><a href="{{ root_url }}/">{{ site.title }}</a></h1>
  {% if site.subtitle %}
    <h2>{{ site.subtitle }}</h2>
  {% endif %}
</hgroup> -->
