<ul class="main-navigation">
  <li><a href="{{ root_url }}/">Home</a></li>
  <!-- <li><a href="{{ site.url }}/projects.html">Latest Projects</a></li> -->
  <li><a href="{{ root_url }}/livestream.html">Livestream</a></li>
  <li><a href="{{ root_url }}/blog">Blog</a></li>
  <!-- <li><a href="{{ site.url }}/bio.html">About Your Host</a></li> -->
  <!-- <li><a href="{{ site.url }}/philosophy.html">Philosophy of</a></li> -->
  <!-- <li><a href="{{ site.url }}/articles.html">Getting Started</a></li> -->
  <!-- <li><a href="{{ root_url }}/blog/archives">Archives</a></li> -->
</ul>
