<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Alicia A Jasmine
http://www.100webhosting.com
Released for free under a Creative Commons Attribution 3.0 License

Name       : Professional
Description: A two-column, fixed-width design with blue color scheme. Great for corporate, professional and even personal websites.
Version    : 1.0
Released   : 29-01-2011
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{{ page.title }} &mdash; Build Something Awesome</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="header">
	<div id="logo">
		<h1><span><a href="{{ site.url }}">Build Something Awes</a></span></h1>
	</div>
	<div id="menu">
		<ul>
			<li class="first"><a href="{{ site.url }}">Home</a></li>
			<li><a href="{{ site.url }}/projects">Latest Projects</a></li>
			<li><a href="{{ site.url }}/philosophy">Philosophy of</a></li>
			<li><a href="{{ site.url }}/articles">Getting Started</a></li>
<!-- 			<li><a href="{{ site.url }}/contact">Contact</a></li> -->
		</ul>
	</div>
</div>
<div id="headershadow"><img src="images/header-picture.jpg" alt="" width="877" height="150" /></div>
<div id="content">
	<div id="maincontent">
    {{ content }}
	</div>
	<div id="sidebar">
		<p></p>
		<h3>Our Services</h3>
		<ul>
			<li><a href="#">Starter Web Hosting</a></li>
			<li><a href="#">Business Web Hosting</a></li>
			<li><a href="#">VPS Servers</a></li>
			<li><a href="#">Dedicated Servers</a></li>
			<li><a href="#">Templated Web Design</a></li>
			<li><a href="#">Custom Web Design</a></li>
		</ul>
		<h3>Latest Clients</h3>
		<ul>
			<li><a href="#">Top 100 Web Hosting</a></li>
			<li><a href="#">Free Web Templates</a></li>
			<li><a href="#">WordPress Themes</a></li>
			<li><a href="#">Company Name</a></li>
			<li><a href="#">Another Company Name</a></li>
		</ul>
	</div>
	<div style="clear: both;">&nbsp;</div>
</div>
<div id="footer">
	<!-- Please leave the link to http://www.100webhosting.com intact -->
	<p>
		&copy; 2011 Aaron VonderHaar. Design by <a href="http://www.100webhosting.com/">100 Web Hosting</a>.
	</p>
</div>
</body>
</html>