<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{{ page.title }} &mdash; Build Something Awesome</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link href="{{ site.url }}/style.css" rel="stylesheet" type="text/css" />
<link href="{{ site.url }}/pygments-perldoc.css" rel="stylesheet" type="text/css" />
</head>
<body class="maximized">
<h1><span><a href="{{ site.url }}">Build Something Awesome</a></span></h1>
	<div id="menu">
		<ul>
			<li class="first"><a href="{{ site.url }}">Home</a></li>
      <!-- <li><a href="{{ site.url }}/projects.html">Latest Projects</a></li> -->
      <li><a href="{{ site.url }}/livestream.html">Livestream</a></li>
			<li><a href="{{ site.url }}/philosophy.html">Philosophy of</a></li>
      <!-- <li><a href="{{ site.url }}/articles.html">Getting Started</a></li> -->
		</ul>
	</div>

<div style="min-width: 1200px">
{{ content }}
</div>

</body>
</html>
